<div class="containerMain">
  <h1>{{'Lista de Exercicios Angular' | titlecase}}</h1>

    <button type="button" class="btn btn-outline-dark" [routerLink]="'/exe1'">Exercicio 1</button>
    <button type="button" class="btn btn-outline-dark" [routerLink]="'/exercicio2'">Exercicio 2</button>
    <button type="button" class="btn btn-outline-dark" [routerLink]="'/exercicio3'">Exercicio 3</button>
    <button type="button" class="btn btn-outline-dark">Exercicio 4</button>
    <button type="button" class="btn btn-outline-dark">Exercicio 5</button>
</div>
